APP_ENV=local
APP_DEBUG=true
APP_KEY=ThisIsAnotherBootstrapProjectForLaravel

DB_HOST=localhost
DB_DATABASE=bootstrap_laravel
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync


MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@SANDBOXDOMAINNAME-GOES-HERE.mailgun.org
MAIL_PASSWORD=PASSWORD-FROM-MAILGUN
MAIL_ENCRYPTION=tls

MAILGUN_SECRET = key-API-PHRASE-FROM-MAILGUN
MAILGUN_DOMAIN = SANDBOXDOMAINNAME-GOES-HERE