APP_ENV=local
APP_DEBUG=true
APP_KEY=ThisIsAnotherBootstrapProjectForLaravel

DB_HOST=localhost
DB_DATABASE=bootstrap_laravel
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync


MAIL_DRIVER=mandrill
MAIL_HOST=smtp.mandrillapp.com
MAIL_PORT=587
MAIL_USERNAME=test@example.com
MAIL_PASSWORD=undefined
MAIL_ENCRYPTION=tls
